body{
    font-family: "Montserrat";
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat";
    font-weight: bold;
}

p{
    color: #8f8f8f;
}

/* Heading section */

.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}

.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid{
    padding: 7% 15%;
}

/* Section */

.coloured-section{
    background-color: #ff4c68;
    color: #fff; 
}

.white-section{
    background-color: #fff;
}

/* navigation bar */

.navbar{
    padding:0 0 4.5rem;
}

.navbar-brand{ 
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}

/* Download button */

.download-btn{
    margin: 5% 3% 5% 0;
}

/* Title */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

/* Title image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    /* position: absolute; */
    position: relative;
    left: 15%;
}

/* Title-image should be in absolute pos. and feature in relative pos. currently it is wrong 
need to check and fix it */
/* Features section */

#features{
    position: relative;
    top: -250px;
    margin-bottom: -250px;
}

.feature-title{
    font-size: 1.5rem;
}

.feature-box{    
    padding: 4.5%;
}
.icon{
    margin-bottom: 1rem;
    color: #ef8172;
}

.icon:hover {
    color: #ff4c68;
}

 /* Testimonials section */

#testimonials{   
    background-color: #ef8172;
}

.testimonials-text{
    font-size: 3rem;
    line-height: 1.5;
}

.testimonials-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* Press */

#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-image{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing section */

#pricing{
    padding: 10%;
}

.pricing-column{
    padding: 2% 3%;
}

/* Footer Section */

.social-btn{
    margin: 20px 10px;
}

@media (max-width:1030px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
        margin-bottom:250px ;
    }
}

